<!DOCTYPE html>
<html>
  <head>
    <title>AtelierLapieuvre</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <% unless controller.controller_name == 'prestationlive' %>
      <%= vite_javascript_tag 'application.jsx' %>
    <% end %>
    <!-- Cloudinary Upload Widget -->
    <script src="https://widget.cloudinary.com/v2.0/global/all.js"></script>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

  </head>

  <body>
    <%= yield %>
  </body>
</html>
