<!DOCTYPE html>
<html>
  <head>
    <title>AtelierLapieuvre</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Vite client (nécessaire pour HMR en dev et manifest en prod) -->
    <%= vite_client_tag %>

    <!-- JS React principal depuis entrypoints (uniquement sur la homepage) -->
    <%= vite_javascript_tag 'entrypoints/application.jsx' %>

    <!-- Cloudinary Upload Widget -->
    <script src="https://widget.cloudinary.com/v2.0/global/all.js"></script>
  </head>

  <body>
    <!-- Conteneur React requis pour la homepage -->
    <div id="root"></div>
    <div id="realisations-react-root"></div>

    <!-- Contenu Rails classique -->
    <div id="rails-content">
      <%= yield %>
    </div>
  </body>
</html>
